# Avval hammasini ignore qil
*

# Keyin keraklilarni ochib qo'y
!.gitignore

# Docs
!docs/
!docs/**

# Go source code
!cmd/
!cmd/**
!internal/
!internal/**
!pkg/
!pkg/**
!migrations/
!migrations/**
!proto/
!proto/**
!deploy/
!deploy/**
!test/
!test/**
!tests/
!tests/**

# Go module files
!go.mod
!go.sum

# Build & config
!Makefile
!Dockerfile
!docker-compose.yml
!.env.example
!config.yml
!.air.toml
!.dockerignore
!.golangci.yml
!.github/
!.github/**
!scripts/
!scripts/**
!README.md
!PROJECT_STRUCTURE.md

# Bularni hech qachon track qilma
.env
bin/
keys/private.pem
